.main-header {
    border: 1px solid black;
    width:270px;
    margin:25px auto;
    padding:0 4px;
}

* {
    box-sizing:border-box;
  }
  
  p {
    display:flex;
    justify-content: space-between;
    margin: 0px auto;
  }

body {      /*font type should be applied to body element rather than h1,h2,p etc. separately.*/
    font-family: "Open Sans", sans-serif;
}   

.line {
    border-bottom:1px solid black;
    margin:2px 0;
}

.main-header h1 {
    margin:-5px auto;
    letter-spacing: 0.04rem;
    text-align: center;
}

.bold {
    font-weight:800;
}

.large {
    height:10px;
}

.medium {
    height:5px;
}

.large, .medium { 
    background-color: black;
    border:0;  
}

.calories-information h2 {
    font-size:0.80rem;
    margin:0;
}

.calories-information span {
    font-size: 2.4rem;
}

.calories-information {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  
.left {
    font-size:2rem;
}

.right{
    justify-content: flex-end;
    font-size:0.80rem;
    margin:0;
}

.indenting { 
    margin-left:1em;
}

.note {
font-size:0.80rem;
}